<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="characterForm">
        <button type="submit">Start New Game</button>
        <label for="characterName">Character Name:</label>
        <input type="text" id="characterName" name="characterName" required>
        <button type="submit">Create Character</button>
    </form>

            <script type="text/javascript" src="../../public/js/index.js"></script>
</body>

</html>