<div>
    <form id="character-Name">
        <label for="cname" hidden="hidden"></label><br>
        <input type="text" id="cname" name="cname" placeholder="Enter Your Chacaters name" />
    </form>
    <input type="submit" id="submitCharacter" value="Create Character">
    </form>
</div>