<div class="mainBodyLevel">
    <div class="storyTextLevel3">
        {{!-- this si where we are oging to put the text for each part of the story  --}}
        {{}}
    </div>
    <div class="choiceLevel3">
        {{!-- this is where we would [ut the yest or not buttons with click events ] --}}
        {{}}
    </div>
</div>