<div class="mainBodyLevel">
    <div class="storyTextLevel3">
        {{!-- this si where we are oging to put the text for each part of the story  --}}
        
    </div>
<div id="stupid-div">
</div>
</div>




<script type="text/javascript" src="../js/level3.js"></script>