{{!-- Profile body with stats displayed dynamically --}}
<div class="container-fluid text-center">
  <div class="row" style="height: 82vh">
    <div class="col align-self-center">
      <div>
        <img class="logo" src="imgs/the_Queen_And_her_guard.PNG" alt="Queen and her guard" />
      </div>
    </div>
    <div class="col align-self-center">
      <div class="row">
        <p class="allStats">Statistics</p>
        <div class="col stats-played">
          <h6>Times played</h6>
          <div class="row">
            <img class="col p-0 mx-2 miniIcon" src="imgs/quest.png" alt="times played" />
            <p class="col stats">{{played}}1</p>
          </div>
        </div>
        <div class="col stats-wins">
          <h6>Wins</h6>
          <div class="row">
            <img class="col p-0 mx-2 miniIcon" src="imgs/knight.png" alt="knight" />
            <p class="col stats">{{wins}}45</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col stats-losses">
          <h6>Losses</h6>
          <div class="row">
            <img class="col p-0 mx-2 miniIcon" src="imgs/sign.png" alt="lost direction" />
            <p class="col stats">{{losses}}50</p>
          </div>
        </div>
        <div class="col stats-deaths">
          <h6>Deaths</h6>
          <div class="row">
            <img class="col p-0 mx-2 miniIcon" src="imgs/grim-reaper.png" alt="grim reaper" />
            <p class="col stats">{{deaths}}4</p>
          </div>
        </div>
      </div>
      <img class="border-line" src="imgs/divider.png" alt="divider image"/>
      <form>
        <label class="charLabel" for="charName">Start New Game</label><br>
        <input type="text" id="charName" placeholder="Enter a character name" required /><br>
        <input class="startNewGame" type="submit" value="Begin Your Adventure" />
      </form>
    </div>
  </div>
</div>