fonts.css

@font-face {
    font-family: "Modesto Caps Condensed Bold Italic";
    src: url("https://fonts.adobe.com/fonts/modesto") 
    format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Bloody Scary Font";
    src: url("//www.fontspace.com/bloody-scary-font-f85828") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Bookinsanity Bold Italic";
    src: url("./Bookinsanity/Bookinsanity Bold Italic.otf") format("opentype");
    font-weight: bold;
}


