/* fonts.css */

@font-face {
    font-family: Nodesto;
    src: url(/fonts/nodesto.otf);
}

@font-face {
    font-family: Bloody;
    src: url(/fonts/bloody.ttf);
}

@font-face {
    font-family: Insanity;
    src: url(/fonts/bookinsanity.otf);
}

@font-face {
    font-family: Cinzel;
    src: url(/fonts/cinzel.ttf);
}


