/* Color Theme */
:root {
  --light: #CAD2C5;
  --hover: #84A98C;
  --bigText: #52796F;
  --extra: #354F52;
  --background: #2F3E46;
  --darkBlood: rgb(100, 5, 5);
  --lightBlood: rgb(150, 15, 15);
}

html {
  cursor: url('../imgs/shield.png'), auto;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 40%;
  margin: .5% 0 0 1%;
}


/* nav {
  display: inline;
} */

.levelLogo {
  height: 70px;
  width: 70px;
}

#sendToHome, #sendToProfile {
    cursor: url('../imgs/sword.png'), auto;
}

.btn:hover {
  cursor: url('../imgs/sword.png'), auto;
}

#stupid-div{
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(53, 79, 82, 0.75);
  padding: 10px;
  border-radius: 10px;
  color: var(--light);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.btn{
  display: inline-block;
  background-color: rgba(240, 248, 255, 0.3);
}

#death{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bloody', sans-serif;
  font-size: 200px;
  color: var(--darkBlood);
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--lightBlood);
}