/* Color Theme */
:root {
  --light: #CAD2C5;
  --hover: #84A98C;
  --bigText: #52796F;
  --extra: #354F52;
  --background: #2F3E46;
  --darkBlood: rgb(100, 5, 5);
  --lightBlood: rgb(150, 15, 15);
}

/* ---Body section--- */
body {
  background-size: cover;
  background-repeat: no-repeat;
}

/* Cursor setting for page */
html {
  cursor: url('../imgs/shield.png'), auto;
}

/* ---Image settings--- */
.navIcons {
  display: inline;
}

img {
  /* height: 50px;
  width: 50px; */
  border-radius: 40%;
  margin: .5% 0 0 1%;
  background-size: cover; /* added this to change to mobile size */
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh; /* any height you want */
  width:  100%;
}

@media (max-width: 767px) {
  .your-background-class {
    background-size: cover;
    background-position: center center;
  }
}

.levelLogo {
  height: 70px;
  width: 70px;
}

/* Clickable buttons settings */
#sendToHome, #sendToProfile {
  cursor: url('../imgs/sword.png'), auto;
}
/* added this to make SendToHome/profile mobile compatible */
@media (max-width: 767px) {
  .your-background-class {
    background-size: cover;
    background-position: center center;
  }
}

#sendToHome:hover, #sendToProfile:hover {
  opacity: 50%;
}

.continue {
  border: 2px solid var(--light);
  display: inline-block;
  font-family: Nodesto;
  margin: 0 auto 10px auto;
  letter-spacing: 1px;
  font-size: 21px;
  background-color: rgba(240, 248, 255, 0.3);
  &:hover {
    cursor: url('../imgs/sword.png'), auto;
  }
}

.choice {
  border: 2px solid var(--light);
  display: inline-flex;
  margin: 0 10px 10px 10px;
  justify-content: space-between;
  font-family: Nodesto;
  letter-spacing: 1px;
  font-size: 21px;
  background-color: rgba(240, 248, 255, 0.3);
  &:hover {
    cursor: url('../imgs/sword.png'), auto;
  }
}

.riddle {
  display: inline-flex;
  margin: 0 10px 10px 10px;
  justify-content: space-between;
  font-family: Nodesto;
  letter-spacing: 1px;
  font-size: 21px;
  background-color: rgba(240, 248, 255, 0.3);
  &:hover {
    cursor: url('../imgs/sword.png'), auto;
  }
}

/* ---Text box section--- */
#stupid-div{
  line-height: 1.25rem;
  font-family: Insanity;
  text-align: center;
  letter-spacing: 1px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(53, 79, 82, 0.75);
  padding: 0px 15px;
  border-radius: 10px;
  color: var(--light);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

p {
  font-size: 1.1rem;
  margin-top: -5px;
  text-align: left;
}

/* Death screen settings */
#death{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bloody', sans-serif;
  font-size: 200px;
  color: var(--darkBlood);
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--lightBlood);
}

 @media (max-width: 768px) {
  .stats-card {
      flex: 1 1 100%; /* Stacks items vertically on smaller screens */
  }
} 