/* Color Theme */
:root {
  --light: #CAD2C5;
  --hover: #84A98C;
  --bigText: #52796F;
  --extra: #354F52;
  --background: #2F3E46;
  --darkBlood: rgb(100, 5, 5);
  --lightBlood: rgb(150, 15, 15);
}

button {
  height: 60px;
  width: 60px;
  background: var(--background);
}

button img {
  height: 60px;
  width: 60px;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}
